@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Satoshi";
    src: url("./assets/fonts/Satoshi-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi";
    src: url("./assets/fonts/Satoshi-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi";
    src: url("./assets/fonts/Satoshi-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi";
    src: url("./assets/fonts/Satoshi-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi";
    src: url("./assets/fonts/Satoshi-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi";
    src: url("./assets/fonts/Satoshi-Italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}

body {
    margin: 0;
    font-family: "Satoshi", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

#root {
    height: 100%;
}

::-webkit-scrollbar {
    display: none !important;
}

code {
    font-family: sans-serif;
}
