@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Satoshi";
    src: url("./assets/fonts/Satoshi-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi";
    src: url("./assets/fonts/Satoshi-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi";
    src: url("./assets/fonts/Satoshi-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi";
    src: url("./assets/fonts/Satoshi-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi";
    src: url("./assets/fonts/Satoshi-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi";
    src: url("./assets/fonts/Satoshi-Italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}

:root {
    --dark-50: #c9c9c9;
    --dark-100: #b8b8b8;
    --dark-200: #828282;
    --dark-300: #696969;
    --dark-400: #424242;
    --dark-500: #3b3b3b;
    --dark-600: #2e2e2e;
    --dark-700: #242424;
    --dark-800: #1f1f1f;
    --dark-900: #141414;
}

body {
    margin: 0;
    font-family: "Satoshi", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

#root {
    height: 100%;
}

::-webkit-scrollbar {
    display: none !important;
}

code {
    font-family: sans-serif;
}
